@charset "utf-8";
@font-face {
    font-family: 'OpenSans-Regular';
    src: url(../font-face/OpenSans-Regular.ttf);
}
@font-face {
    font-family: 'OpenSans-Light';
    src: url(../font-face/OpenSans-Light.ttf);
}

:root{
    --font-color1:#333;
    --box-shadow1:10px 10px 20px rgba(0,0,0,0.3);
}

body{
    font-family:OpenSans-Regular;
    font-size: 14px;
}
*{margin: 0;padding: 0;}
ul{margin: 0;padding: 0;}
li{list-style: none;}

a:visited,a:link{text-decoration: none;color:var(--font-color1)}