@charset "utf-8";


.navbar .bg-color{
    position: absolute;
    width: 100%;height: 600px;
    background: linear-gradient(160deg, #30cfd0 0%, #330867 100%);
    transform:skew(0,-15deg)
}

.video video{
    object-fit: fill;width: 100%;border-radius: 5px;
    box-shadow: var(--box-shadow1);
}
.video .txtWrap{bottom: 30px;left:45px}
.card-view .banner{
    border-radius: 5px;overflow: hidden;
    box-shadow: var(--box-shadow1);
}

.bg-banner1{background-color: #00CCCC !important;}

.banner .card{
    border-radius: 10px;overflow: hidden;
    box-shadow: var(--box-shadow1);
}

.adven .icon{
    width: 80px;height: 80px;border-radius: 50%;background: #fff;
    box-shadow: var(--box-shadow1);
}
.adven .img-view{height: 400px;}

.adven .img-view img{border-radius: 5px;box-shadow: var(--box-shadow1);}
.adven .img1st{max-width:400px;right: 2rem;top: 1.5rem;}
.adven .img2st{max-width:300px;left: 2rem;bottom: 1.5rem;}

.contact{
    background: url(../images/contact-cover.jpg) no-repeat center;
    background-size: cover;
}